*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 6.5rem;
    color: white;
    background-color: #34495e;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    user-select: none;
}

span {
    line-height: 6.5rem;
}

.change-size {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    word-spacing: 4px;
    letter-spacing: 0.5px;
}

.generate-array span {
    word-spacing: 4px;
    cursor: pointer;
    padding: 3px 3px;
    letter-spacing: 0.5px;
    user-select: none;
}

.generate-array span:hover {
    color: lightgrey;
}

ul {
    list-style-type: none;
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    word-spacing: 2px;
    letter-spacing: 0.5px;
}

li {
    cursor: pointer;
    padding: 2px 2px;
}

li:hover {
    color: lightgrey;
}


.start-sort span {
    visibility: hidden;
    cursor: pointer;
    padding: 3px 3px;
    letter-spacing: 0.5px;
    user-select: none;
}

.start-sort span:hover {
    color: lightgrey;
}

h1 {
    line-height: 6.5rem;
    font-size: 2.2rem;
    color: lightcyan;
    word-spacing: 5px;
    letter-spacing: 1.5px;
    user-select: none;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 8rem;
    height: 8px;
    border-radius: 5px;  
    background-color: white;
    outline: none;
    cursor: pointer;
  }
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background-color: rgb(241, 94, 255);
  }

.slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(241, 94, 255);
    cursor: pointer;
  }

.slider:active {
    background-color: lightgrey;
    border: 1px solid white;
  }

.separator {
    height: calc(6.5rem / 2 + 0.6rem);
    border-left: 5px solid black;
}

main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

main div {
    flex: 1 1;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: rgba(66, 134, 244, 0.8);
    padding-top: 1px;
    letter-spacing: 0.5px;
}

@media (max-width: 431px) {
    header {
        display: block;
        width: 100%;
    }

    header * {
        display: none;
    }

    header h1 {
        display: block;
    }

    main {
        width: 70%;
    }
}